.about__img-wrapper {
  max-width: 400px;
  max-height: 350px;
  margin-bottom: 10px;
}

.about__img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.about__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.about__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.download {
  width: 38%;
  margin-top: 25px;
  display: flex;
}
